
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="https://genbiunhas.org/storage/web_assets/genbiUH.png">
    <title>GenBI UNHAS | Home</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    
    
    <link rel="stylesheet" href="https://genbiunhas.org/home/plugin/yu2fvl/src/jquery.yu2fvl.css">

    <!-- Template CSS -->
    <link rel="stylesheet" href="https://genbiunhas.org/home/css/style-liberty.css">

    
    <script src="https://genbiunhas.org/plugins/sweetalert2/sweetalert2.min.js"></script>
    <link href="https://genbiunhas.org/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet">
</head>

<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark stroke">
                <a class="navbar-brand" href="/">
                    <img src="https://genbiunhas.org/storage/web_assets/genbiUH1.png" alt="Your logo" title="Your logo" style="height:38px;" />
                    GenBI UNHAS
                </a>
                <a class="navbar-brand" href="#index.html">

                </a>
                <button class="navbar-toggler  collapsed bg-gradient" type="button" data-toggle="collapse"
                    data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                    </span>
                </button>
                
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Beranda<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tentang <span class="fa fa-angle-down"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item @g__active" href="/about">Tentang Kami</a>
                <a class="dropdown-item @g__active" href="/core-team">Pengurus</a>
            </div>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/scholarship-info">Info Beasiswa</a>
        </li>
        <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Blog <span class="fa fa-angle-down"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item @g__active" href="/blog/all">Semua</a>
                                <a class="dropdown-item @g__active" href="/blog/Lingkungan Hidup">Lingkungan Hidup</a>       
                            </div>
        </li>
        <li class="nav-item ">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Galeri <span class="fa fa-angle-down"></span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item @g__active" href="/gallery">Foto</a>
                <a class="dropdown-item @g__active" href="/video">Video</a>
            </div>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/agenda">Agenda</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/contact-us">Kontak</a>
        </li>
    </ul>
</div>                
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container py-1">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--/header-->
    <!-- main-slider -->
    <section class="w3l-main-slider" id="home">
        <div class="companies20-content">
            <div class="owl-one owl-carousel owl-theme">
                                <div class="item">
                    <li>
                    <div class="slider-info banner-view bg bg2" style="background-image: url(https://genbiunhas.org/storage/backgroundImage/1608607895.jpeg)">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>Welcome</h5>
                                        <p class="mt-4">to GenBI UNHAS Website </p>
                                        <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="/about">
                                            Tentang Kami</a>
                                        <a class="btn btn-style btn-white mt-sm-5 mt-4" href="/agenda">Agenda</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                                <div class="item">
                    <li>
                    <div class="slider-info banner-view bg bg2" style="background-image: url(https://genbiunhas.org/storage/backgroundImage/1608607868.png)">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>Creativity</h5>
                                        <p class="mt-4">All Innovation </p>
                                        <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="/about">
                                            Tentang Kami</a>
                                        <a class="btn btn-style btn-white mt-sm-5 mt-4" href="/agenda">Agenda</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                                <div class="item">
                    <li>
                    <div class="slider-info banner-view bg bg2" style="background-image: url(https://genbiunhas.org/storage/backgroundImage/1608607844.png)">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>Partnership</h5>
                                        <p class="mt-4">Collaboration </p>
                                        <a class="btn btn-style btn-primary mt-sm-5 mt-4 mr-2" href="/about">
                                            Tentang Kami</a>
                                        <a class="btn btn-style btn-white mt-sm-5 mt-4" href="/agenda">Agenda</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                            </div>
            <!-- <div class="icon-pos">
            <a href="#bottom"><span class="fa fa-arrow-down"></span></a>
        </div> -->
        </div>
    </section>
    <!-- /main-slider -->
    
        <section class="w3l-index3" id="bottom">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="row">
                <div class="col-lg-6 about-right-faq align-self">
                    
                    <h3 class="title-big">Tentang Generasi Baru Indonesia</h3>
                    <p class="text-justify">
                        Generasi Baru Indonesia atau disingkat GenBI merupakan sebuah komunitas penerima beasiswa dari Bank Indonesia yang berdiri sejak tanggal 11 November 2011. GenBI terdiri dari mahasiswa/i yang berasal dari perguruan tinggi negeri yang tersebar di seluruh Indonesia ...
                    </p>                   
                    <a href="/about" class="btn btn-style border-btn mt-lg-5 mt-4">Selengkapnya...</a>
                </div>
                <div class="col-lg-6 left-wthree-img text-right mt-lg-0 mt-5 ">
                    <img src="https://genbiunhas.org/storage/web_assets/genbi.png" alt="" class="radius-image img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /homeblock2-->
<section class="w3l-homeblock2 py-5" id="services">
    <div class="container py-lg-5 py-md-4">
        <div class="row">
            <div class="col-lg-6 ">
                <img src="https://genbiunhas.org/storage/web_assets/JIHAN.png" alt="" class="radius-image img-fluid">
            </div>
            <div class="col-lg-6 mt-lg-0 mt-3 about-right-faq align-self">
                <h3 class="title-big">Sambutan Ketua GenBI UNHAS</h3>
                <p class="text-justify">Assalamualaikum Wr. Wb.</p>
                <p class="text-justify">Shalom, Om Swastiastu, Namo Buddhaya.</p><br>
                <p class="text-justify">
                    GenBI Komisariat Universitas Hasanuddin telah ada sejak 2011 dan telah menghimpun kurang lebih 150 penerima beasiswa yang berasal dari multi disiplin ilmu. Di tahun 2020, GenBI Komisariat Universitas Hasanuddin menerima 105 penerima beasiswa baik melalui jalur unggulan maupun jalur reguler. Jumlah tersebut menjadi anugerah tersendiri karena memberikan peluang kesempatan kolaborasi dan ruang belajar yang lebih luas. Dengan begitu, potensi setiap penerima diharapkan mampu tersalurkan dengan maksimal dan memberikan semangat positif demi mengemban 3 tanggung jawab utama yang diperankan kepadanya.
                </p><br>
                <p class="text-justify">
                    Akhir kata, GenBI Komisariat Universitas Hasanuddin telah menjadi rumah untuk banyak teman-teman untuk saling belajar, berkolaborasi dan memberi kontribusi baik kepada lingkungan sekitar, masyakarat luas dan untuk negeri.    
                </p><br>
                <p class="text-justify">Salam hangat.
                    GenBI, Energi Untuk Negeri!
                    </p>
            </div>
        </div>
    </div>
</section>
<!-- //homeblock2-->
<section class="w3l-homeblock3">
    <div class="midd-w3 py-5">
        <div class="container py-lg-5 py-md-3">
            <div class="title-content mb-5">
                <h5 class="title-small text-center mb-2">Fungsi</h5>
                <h3 class="title-big text-center mb-5">GenBI UNHAS</h3>
            </div>
            <div class="grids-area-hny main-cont-wthree-fea row">
                <div class="col-lg-4 col-sm-6 grids-feature">
                    <div class="area-box">
                        <span class="fa fa-flag"></span>
                        <h4><a href="#feature" class="title-head">Agent of Change</a></h4>
                        <p>Menjadi katalis atau pemicu terjadinya perubahan.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 grids-feature mt-sm-0 mt-5">
                    <div class="area-box">
                        <span class="fa fa-group"></span>
                        <h4><a href="#feature" class="title-head">Front Liner</a></h4>
                        <p>Menjadi garda depan Bank Indonesia untuk membantu menyampaikan informasi kebijakan yang dikeluarkan oleh BI.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 grids-feature mt-lg-0 mt-5">
                    <div class="area-box">
                        <span class="fa fa-shield"></span>
                        <h4><a href="#feature" class="title-head">Future Leaders</a></h4>
                        <p>Menyiapkan mahasiswa untuk menjadi pemimpin Indonesia di masa mendatang.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="w3l-homeblock4 py-5" id="video">
    <div class="video-recipe py-lg-5 py-md-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 align-self">
                    <h3 class="title-big">Video Terbaru</h3>
                    
                </div>
                <div class="col-lg-7 mt-lg-0 mt-5 ">
                    <div class="row">
                                                <div class="col-md-6">
                                <iframe src="https://www.youtube.com/embed/HS99lKx3H1Q" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                            <a class="play-yt" href="https://www.youtube.com/embed/HS99lKx3H1Q">
                            <h3 class="video-title mt-4">SOSIALISASI BEASISWA BI</h3>
                            </a>
                        </div>                            
                                                <div class="col-md-6">
                                <iframe src="https://www.youtube.com/embed/2RJRXdL6jCA" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                            <a class="play-yt" href="https://www.youtube.com/embed/2RJRXdL6jCA">
                            <h3 class="video-title mt-4">BI CORNER TALK</h3>
                            </a>
                        </div>                            
                                            </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="w3l-blog">
    <section id="grids5-block" class="py-5">
        <div class="container py-lg-5 py-md-4">
            <div class="title-content mb-5">
                <h5 class="title-small text-center mb-2">Blog Terbaru</h5>
                <h3 class="title-big text-center mb-5">GenBI UNHAS</h3>
            </div>
            <div class="list-view mt-5">
                <div class="row">
                                        <div class="col-md-6 mt-5">
                        <div class="grids5-info">
                            <a href="/blog/lingkungan hidup/mengenal sisi sains dan teknologi pltb tolo 1 jeneponto" class="d-block zoom"><img src="https://genbiunhas.org/storage/blog_image/1609343644.JPG" alt=""
                                    class="img-fluid news-image" /></a>
                            <div class="blog-info">
                                <h4><a href="/blog/lingkungan hidup/mengenal sisi sains dan teknologi pltb tolo 1 jeneponto">MENGENAL SISI SAINS DAN TEKNOLOGI PLTB TOLO 1 JENEPONTO</a></h4>
                                <p class="date">30-12-2020</p>
                                <p class="blog-text">BAB I. PENDAHULUAN

&nbsp;

Kebutuhan energi d...</p>
                                <a href="/blog/lingkungan hidup/mengenal sisi sains dan teknologi pltb tolo 1 jeneponto" class="btn  mt-4">Read More <span></span></a>
                            </div>
                        </div>
                    </div>                
                                        <div class="col-md-6 mt-5">
                        <div class="grids5-info">
                            <a href="/blog/lingkungan hidup/menilik pltb tolo 1 jeneponto dari perspektif sosial" class="d-block zoom"><img src="https://genbiunhas.org/storage/blog_image/1609343622.jpeg" alt=""
                                    class="img-fluid news-image" /></a>
                            <div class="blog-info">
                                <h4><a href="/blog/lingkungan hidup/menilik pltb tolo 1 jeneponto dari perspektif sosial">MENILIK PLTB TOLO 1 JENEPONTO DARI PERSPEKTIF SOSIAL</a></h4>
                                <p class="date">30-12-2020</p>
                                <p class="blog-text">ENERGI TERBARUKAN SEBAGAI ALTERNATIF PEMENUHAN KEB...</p>
                                <a href="/blog/lingkungan hidup/menilik pltb tolo 1 jeneponto dari perspektif sosial" class="btn  mt-4">Read More <span></span></a>
                            </div>
                        </div>
                    </div>                
                                    </div>
            </div>
        </div>
    </section>
</section>

</div>
    

    <section class="w3l-footer-29-main py-5">
        <div class="footer-29 py-lg-4 py-md-3">
            <div class="container">
                <div class="d-grid grid-col-4 footer-top-29">
                    <div class="footer-list-29 footer-1">
                        <h6 class="footer-title-29">Kontak Kami</h6>
                        <ul>
                            <li>
                            <p><span class="fa fa-map-marker"></span>Jl. Perintis Kemerdekaan No.KM.10, Tamalanrea Indah, Kec. Tamalanrea, Kota Makassar, Sulawesi Selatan 90245</p>
                            </li>
                            <li><a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&to=genbi.unhas@gmail.com&tf=1" class="mail"><span
                                        class="fa fa-envelope-open-o"></span>genbi.unhas@gmail.com</a></li>
                        </ul>
                        <div class="main-social-footer-29">
                            <a href="https://instagram.com/genbiunhas?igshid=i72e8zk34eez" class="facebook"><span class="fa fa-instagram"></span></a>
                            <a href="https://www.youtube.com/channel/UCDMTFdDDMRMB3DAFXSm7vUw" class="google-plus"><span class="fa fa-youtube"></span></a>
                            <a href="https://open.spotify.com/show/39S9gG8377xN6csoF3QY1c?si=sqM8fQwpQsS7EjKN-MWBsg" class="twitter"><span class="fa fa-spotify"></span></a>
                        </div>
                    </div>
                    <div class="footer-list-29 footer-2">

                        <h6 class="footer-title-29">Telusuran Cepat</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li><a href="/">Beranda</a></li>
                                    <li><a href="/about">Tentang</a></li>
                                    <li><a href="/scholarship-info">Info Beasiswa</a></li>
                                    <li><a href="/core-team">Pengurus</a></li>
                                    <li><a href="/blog/all">Blog</a></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul>
                                    <li><a href="/gallery">Foto</a></li>
                                    <li><a href="/video">Video</a></li>
                                    <li><a href="/agenda">Agenda</a></li>
                                    <li><a href="/contact-us">Kontak</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                    <div class="footer-3" id="contact-us-form">
                        <ul>
                            <h6 class="footer-title-29">Hubungi Kami</h6>
                            <form class="d-block" id='form-contact-us' method="post" data-toggle="validator" action="/send-message">
                                <input type="hidden" name="_token" value="HOtZZZ4QHfrTsoWT5SNnjRvZLRxbROxvDdcRhOBE"> <input type="hidden" name="_method" value="POST">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="name" placeholder="Nama" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" type="email" name="email" placeholder="Email" required="">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <input class="form-control" type="text" name="phone_number" placeholder="Nomor Telepon" required="">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <textarea class="form-control" name="message_content" required="" placeholder="Pesan"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right">
                                    <button type="submit" style="background-color: #b51818;" class="btn btn-style btn-primary submit">Kirim</button>
                                </div>
                            </form>
                        </ul>
                    </div> 
                </div>
                <div class="d-grid grid-col-2 bottom-copies">
                    <p class="copy-footer-29">© 2020 GenBI UNHAS. All rights reserved.</p>
                </div>
            </div>
        </div>
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-angle-up"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->
    </section>
    <!-- Template JavaScript -->
    <script src="https://genbiunhas.org/home/js/jquery-3.3.1.min.js"></script>

    <!-- script for testimonials -->
    <script>
        $(document).ready(function () {
            $('.owl-testimonial').owlCarousel({
                loop: true,
                margin: 0,
                nav: true,
                responsiveClass: true,
                autoplay: false,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: true
                    },
                    1000: {
                        items: 1,
                        nav: true
                    }
                }
            })
        })
    </script>
    <!-- //script for testimonials -->

    <script src="https://genbiunhas.org/home/js/theme-change.js"></script>

    <!-- js for portfolio lightbox -->
    <script src="https://genbiunhas.org/home/js/jquery-2.1.4.min.js"></script>
    <script src="https://genbiunhas.org/home/js/jquery.chocolat.js"></script>
    <!--light-box-files -->
    <script type="text/javascript ">
        $(function () {
            $('.w3_agile_portfolio_grid a').Chocolat();
        });
    </script>
    <!-- /js for portfolio lightbox -->

    <script src="https://genbiunhas.org/home/js/owl.carousel.js"></script>
    <!-- script for banner slider-->
    <script>
        $(document).ready(function () {
            $('.owl-one').owlCarousel({
                loop: true,
                margin: 0,
                nav: false,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: true
                    },
                    1000: {
                        items: 1,
                        nav: true
                    }
                }
            })
        })
    </script>
    <!-- //script -->


    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- disable body scroll which navbar is in active -->

    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->

    <script src="https://genbiunhas.org/home/js/bootstrap.min.js"></script>

    <script src="https://genbiunhas.org/plugins/validator/validator.min.js"></script>
    <script src="https://genbiunhas.org/home/plugin/yu2fvl/src/jquery.yu2fvl.js"></script>
    <script>
        $(".play-yt").yu2fvl();
    </script>
    <script type="text/javascript">
        $('#contact-us-form form').validator().on('submit', function (e){
            if (!e.isDefaultPrevented()){
                url = "https://genbiunhas.org/send-message"
                $.ajax({
                    url: url,
                    type: "POST",
                    data: new FormData($("#contact-us-form form")[0]),
                    // data : $('#contact-us-form form').serialize(),
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        swal({
                            title: 'Success!',
                            text: data.message,
                            type: 'success',
                            timer: '6000'
                        }).catch(swal.noop);
                        $('#form-contact-us').trigger("reset");
                    }, 
                    error : function() {
                        swal({
                                title: 'Oops...',
                                text: "Something when wrong!",
                                type: 'error',
                                timer: '6000'
                        }).catch(swal.noop);
                    }
                });
                return false;
            }
        });
        </script>
</body>

</html>